
.main-header, .main-header-two {
	padding-top: .5em;
	padding-bottom: .5em;
}

.container {
	color: #fff;
	padding: 3.2em 0;
	margin-bottom: 48px;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
	flex: 1;
}

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
}

.main-header-two {
	display: none;
}
